/* Base Styles CSS Start */

/* Fonts */

@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:wght@400;500;700&family=GFS+Didot&family=Montserrat:wght@200;300;400;500;600;700&display=swap");

* {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Montserrat", sans-serif;
  /* font-family: "EB Garamond", serif;
  font-family: "GFS Didot", serif; */
  scroll-behavior: smooth;
  background: #000000;
}

ol,
ul {
  margin: 0;
  padding: 0;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  max-width: 100%;
}

/* Base Styles CSS End */

/* Header Part CSS Start */

/* Navbar Section CSS Start */

.nav-wrapper {
  padding: 25px 0;
  border-bottom: 1px solid #ffffff;
}

.menu ul li {
  padding: 0 15px;
}

.menu ul li a {
  font-size: 16px;
  text-transform: uppercase;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
}

.menu ul li a:hover {
  color: #c49e55;
}

.menu ul li.active a {
  color: #c49e55;
}

.login a {
  font-size: 16px;
  color: #ffffff;
  padding: 8px 35px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.login a:hover {
  color: #c49e55;
}

.login select {
  background: transparent;
  color: #ffffff;
  padding: 8px 30px;
  margin-left: 10px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

/* Navbar Section CSS End */

/* Mobile Navbar Section CSS Start */

#Mobile-nav {
  position: fixed;
  max-width: 100%;
  width: 100%;
  z-index: 999;
  display: none;
}

.mobile-top-nav {
  background: #000000;
  padding: 10px 25px;
  border-bottom: 1px solid #ffffff;
}

.mobile-logo img {
  width: 85%;
}

.mobile-bar #bars {
  width: 30px;
  height: 30px;
  background: none;
  border: none;
  outline: none;
  cursor: pointer;
}

#bars span {
  position: relative;
  display: block;
  width: 30px;
  height: 1px;
  background: #ffffff;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

#bars.active span {
  background: transparent;
}

#bars span::before,
#bars span::after {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #ffffff;
  transition: all 0.3s ease-in-out;
}

#bars span::before {
  transform: translateY(-9px);
}

#bars span::after {
  transform: translateY(9px);
}

#bars.active span::before {
  transform: rotate(45deg);
}

#bars.active span::after {
  transform: rotate(135deg);
}

#Mobile-submenu {
  background: #1d1d1d;
  padding: 10px 25px;
}

.mobile-submenu-wrapper p {
  font-style: italic;
  color: #ffffff;
  margin: 0;
  cursor: pointer;
}

.mobile-submenu-wrapper select {
  background: #ffffff;
  padding: 5px 15px;
  border-radius: 5px;
}

#Mobile-sidebar {
  position: relative;
}

.mobile-sidebar-container {
  position: fixed;
  top: 126px;
  left: -100%;
  width: 300px;
  height: 100%;
  background: #000000;
  transition: all 0.3s ease;
  z-index: 99;
}

.mobile-sidebar-container.active {
  left: 0;
}

.mobile-sidebar-container ul li {
  border-bottom: 1px solid #707070;
  padding: 15px 25px;
}

.sidebar-buttons {
  padding-top: 50px;
}

.sidebar-buttons a {
  display: block;
  width: 90%;
  margin: auto;
  background: #ffffff;
  font-size: 20px;
  text-align: center;
  color: #000000;
  margin-bottom: 10px;
  padding: 12px;
  border-radius: 5px;
}

.sidebar-copy {
  position: absolute;
  bottom: 50px;
  color: #ffffff;
}

/* Mobile Navbar Section CSS End */

/* Submenu Section CSS Start */

section#Submenu {
  background: black;
  padding-top: 15px;
}

.menu-social a {
  padding-right: 25px;
}

.search p {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  margin: 0;
  padding-left: 5px;
  transition: all 0.3s ease-in-out;
}

.search p:hover {
  color: #c49e55;
}

.chevron-down {
  margin-top: -15px;
}

.schedule-meeting p {
  font-size: 17px;
  font-weight: 600;
  color: #ffffff;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

p#sc-meeting:hover {
  color: #c49e55;
}

/* Submenu Section CSS End */

/* Schedule Meeting Form Section HTML Start */

#Meeting {
  display: none;
  overflow: hidden;
}

#Meeting.active {
  display: block;
}

#overlay {
  position: fixed;
  display: none;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #707070c5;
  z-index: 2;
}

.meeting-form {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  max-width: 1000px;
  width: 100%;
  background: #000000;
  padding: 30px 25px;
  z-index: 5;
}

#schedule-close {
  position: absolute;
  right: 20px;
  top: 10px;
  background: transparent;
  border: none;
  outline: 0;
  cursor: pointer;
}

.meeting-form h2 {
  font-size: 28px;
  color: #ffffff;
  padding-top: 20px;
  padding-bottom: 30px;
}

.scm-field {
  margin-bottom: 20px;
}

.scm-field label {
  font-size: 20px;
  color: #ffffff;
  padding-bottom: 10px;
}

.scm-field select,
.scm-field input,
.scm-field textarea {
  max-width: 100%;
  width: 100%;
  background: #000000;
  padding: 10px 20px;
  border: 1px solid #ffffff;
  color: #595959;
  border-radius: 5px;
}

a.reset-btn {
  font-size: 20px;
  color: #c49e55;
}

a.schedule-btn {
  background: #ffffff;
  color: #000000;
  font-size: 20px;
  padding: 9px 22px;
  border-radius: 5px;
  margin-left: 50px;
  transition: all 0.3s ease-in-out;
}

a.schedule-btn:hover {
  color: #c49e55;
}

/* Schedule Meeting Form Section HTML End */

/* Search Form Section CSS Start */

#Search {
  display: none;
}

#Search.active {
  display: block;
}

.search {
  cursor: pointer;
}

.search-form-container {
  position: absolute;
  width: 100%;
  top: 170px;
  background: #111111;
  padding: 30px 0;
}

.proper-type-location select,
.bedroom-select select {
  width: 100%;
  background: #111111;
  color: #ffffff;
  border: 1px solid #ffffff;
  outline: none;
  padding: 10px 20px;
  border-radius: 5px;
  margin-bottom: 15px;
}

.property-status-btn,
.property-status-btn:hover {
  max-width: 32%;
  width: 100%;
  color: #ffffff !important;
  border: 1px solid #ffffff !important;
  padding: 10px 0;
}

.btn-check:checked + .btn,
.btn.active,
.btn.show,
.btn:first-child:active,
:not(.btn-check) + .btn:active {
  background: #ffffff;
  color: #000000 !important;
}

.proper-type-location {
  padding-top: 15px;
}

.search-form label {
  font-size: 18px;
  color: #ffffff;
  padding-bottom: 15px;
}

.search-field.search-field1 {
  width: 100%;
  display: flex;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-bottom: 15px;
}

.search-field.search-field1 input {
  width: 100%;
  background: #111111;
  color: #ffffff;
  outline: none;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
}

.search-field.search-field1 input:active,
.search-field.search-field1 input:focus {
  background: #ffffff;
  color: #000000;
}

.search-field.search-field1 img {
  padding-right: 20px;
  padding-left: 10px;
}

.range-slider {
  width: 40%;
}

input[type="range"] {
  -webkit-appearance: none;
  border: 1px solid white;
  width: 100%;
  position: absolute;
  top: 35px;
  left: 0;
  border-radius: 20px;
}

input[type="range"]::-webkit-slider-runnable-track {
  height: 5px;
  background: #ffffff;
  border: none;
  border-radius: 20px;
}

input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  border: none;
  height: 18px;
  width: 18px;
  border: 2px solid #ffffff;
  border-radius: 50%;
  background: #c49e55;
  margin-top: -6px;
  cursor: pointer;
  position: relative;
  z-index: 1;
}

input[type="range"]:focus {
  outline: none;
}

input[type="range"]:focus::-webkit-slider-runnable-track {
  background: #ffffff;
}

.range-slider label {
  font-size: 18px;
  color: #ffffff;
}

.range-values {
  font-size: 15px;
  color: #ffffff;
  padding-top: 20px;
}

.bedroom-select {
  padding-top: 30px;
}

.search-buttons {
  text-align: right;
  padding-top: 30px;
}

.search-reset {
  font-size: 20px;
  color: #ffffff;
  padding: 8px 30px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.search-reset:hover {
  color: #c49e55;
}

.search-btn {
  font-size: 20px;
  color: #000000;
  background: #ffffff;
  padding: 8px 25px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  margin-left: 20px;
  transition: all 0.3s ease-in-out;
}

.search-btn:hover {
  color: #c49e55;
}

.search-form ::placeholder {
  color: #ffffff;
}

/* Search Form Section CSS End */

/* Hero Section CSS Start */

.hero-wrapper {
  padding: 80px 0;
}

.hero-video {
  height: 100vh;
}

iframe {
  width: 100%;
  height: 100%;
}

/* Hero Section CSS End */

/* Header Part CSS End */

/* Main Part CSS Start */

/* Davinci Section CSS Start */

.davinci-content {
  background: url(../images/davinci.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 700px;
}

.davinci-top,
.beachgate-top {
  text-align: center;
}

.davinci-top h2,
.beachgate-top h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
}

.davinci-top p,
.beachgate-top p {
  font-size: 22px;
  color: #c49e55;
  letter-spacing: 10px;
}

.davinci-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 100px;
  margin-top: 50px;
}

.davinci-content h4 {
  max-width: 450px;
  font-size: 30px;
  color: #ffffff;
  letter-spacing: 10px;
  padding-bottom: 25px;
}

.davinci-content a {
  width: 120px;
  text-align: center;
  background: #ffffff;
  padding: 4px;
  font-size: 18px;
  color: #000000;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.davinci-content a:hover {
  color: #c49e55;
}

/* Davinci Section CSS End */

/* FAQ Section CSS Start */

.faq-wrapper {
  padding: 60px 0;
}

.accordion-item {
  background: transparent;
  border: none;
  margin-bottom: 10px;
}

.accordion-button {
  font-size: 30px;
  color: #ffffff;
  background: transparent !important;
  padding-left: 40px;
  border-bottom: 1px solid #ffffff;
}

.accordion-button:not(.collapsed) {
  color: #c49e55;
  border-bottom: 1px solid #c49e55 !important;
}

.accordion-button:focus {
  box-shadow: none;
  border-color: #ffffff;
}

.accordion-button::after {
  background: url(../images/plus.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
}

.accordion-button:not(.collapsed)::after {
  background: url(../images/minus.png);
  background-size: contain;
  background-repeat: no-repeat;
  position: absolute;
  left: 0;
  top: 15px;
}

.accordion-body {
  padding: 0;
}

.accordion-text p {
  font-size: 14px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 10px;
}

/* FAQ Section CSS End */

/* Satus Section CSS Start */

.status-wrapper {
  background: #111111;
  padding: 80px 0;
}

.status-item {
  text-align: center;
}

.border-right {
  border-right: 1px solid #4d4d4e;
}

.status-item h2 {
  position: relative;
  font-family: "EB Garamond", serif;
  font-size: 150px;
  color: #342d1e;
}

.status-item h2 p {
  position: absolute;
  top: 55%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: "Montserrat", sans-serif;
  font-size: 26px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
}

/* Satus Section CSS End */

/* Beachgate Section CSS Start */

#Beachgate {
  padding: 80px 0;
  background: #111111;
}

.beachgate-time {
  max-width: 600px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  padding: 50px 0;
}

.beachgate-time .status-item {
  max-width: 50%;
  width: 100%;
}

.video-thumb {
  position: relative;
}

.video-thumb a {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 120px;
  height: 120px;
  background: #ffffff;
  border: 13px solid #c7c7c7;
  text-align: center;
  padding: 30px 35px;
  border-radius: 50%;
}

/* Beachgate Bottom */

.beachgate-bottom {
  padding-top: 60px;
}

.beachgate-bottom h3 {
  font-size: 25px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 15px;
  color: #ffffff;
  padding-bottom: 20px;
  border-bottom: 1px solid #ffffff;
}

.aminities {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;
  padding-top: 50px;
}

.aminities-item {
  align-self: center;
  justify-items: center;
  text-align: center;
}

.aminities-item h5 {
  font-size: 18px;
  letter-spacing: 5px;
  color: #ffffff;
  padding-top: 20px;
}

.bg-explore h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
}

.bg-explore p {
  font-size: 20px;
  font-weight: 300;
  color: #ffffff;
  padding: 25px 0;
}

.bg-buttons {
  padding-top: 30px;
}

a.explore-btn {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 50px;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

a.explore-btn:hover {
  color: #c49e55;
}

a.download-btn {
  font-size: 22px;
  font-weight: 300;
  color: #000000;
  background: #ffffff;
  border: 1px solid #ffffff;
  padding: 12px 50px;
  border-radius: 5px;
  margin-left: 25px;
  transition: all 0.3s ease-in-out;
}

a.download-btn:hover {
  color: #c49e55;
}

/* Beachgate Section CSS End */

/* Projects Section CSS Start */

.projects-wrapper {
  padding: 80px 0;
}

.projects-title h2 {
  font-size: 48px;
  color: #ffffff;
}

.projects-wrapper .tab-content {
  padding-top: 50px;
}

.projects-buttons {
  border-bottom: 1px solid #c49e55;
}

.nav-pills .nav-link {
  color: #ffffff;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  background: transparent;
  color: #c49e55;
  font-weight: 600;
  border-bottom: 4px solid #c49e55;
  border-radius: 0;
}

.project-cards {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  overflow-x: auto;
}

.project-cards::-webkit-scrollbar {
  width: 0;
}

.project-card {
  border: 1px solid #ffffff;
  padding: 15px;
}

.project-card.active {
  box-shadow: 0px 0px 55px -10px #c49e55;
}

.project-card-info {
  position: absolute;
  top: 25px;
  right: 25px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #ffffff;
  padding: 20px 12px;
  border-radius: 20px;
}

.project-card-info a {
  padding: 9px 0;
}

.project-card-content {
  padding-top: 15px;
}

.project-card-content h5 {
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 5px;
  color: #ffffff;
}

.project-card-content h3 {
  font-size: 25px;
  color: #ffffff;
  padding: 5px 0;
}

.project-name {
  padding-right: 15px;
  border-right: 1px solid #ffffff;
}

.project-quntity {
  padding-left: 15px;
}

.project-name p {
  font-size: 12px;
  color: #ffffff;
  margin: 0;
}

.project-name h5 {
  font-size: 16px;
  font-weight: 600;
  letter-spacing: normal;
  color: #d1b677;
}

.project-quntity p {
  font-size: 12px;
  font-weight: 300;
  color: #ffffff;
  margin: 0;
}

.project-button {
  padding-top: 10px;
}

.project-button a {
  background: #ffffff;
  color: #000000;
  padding: 8px 20px;
  border-radius: 5px;
}

.see-all-projects-btn {
  text-align: right;
  padding-top: 40px;
}

.see-all-projects-btn a {
  font-size: 18px;
  font-weight: 200;
  color: #ffffff;
}

/* Projects Section CSS End */

/* Corporate Section CSS Start */

#Corporate {
  padding: 80px 0;
}

.corporate-top {
  text-align: center;
}

.corporate-top h2 {
  font-size: 48px;
  text-transform: uppercase;
  color: #ffffff;
}

.corporate-top p {
  font-size: 22px;
  font-weight: 300;
  color: #ffffff;
  padding-top: 15px;
}

.corporate-items {
  padding-top: 80px;
}

.corporate-item {
  position: relative;
  border: 1px solid #ffffff;
  border-radius: 5px;
  padding: 80px 10px 80px 80px;
}

.corporate-item h3 {
  font-size: 25px;
  text-transform: uppercase;
  color: #ffffff;
}

.corporate-item p {
  color: #ffffff;
  padding-top: 10px;
}

.corp-shape {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: -20px;
}

/* Corporate Section CSS End */

/* Company Section CSS Start */

#Company {
  padding: 80px 0;
  background: #111111;
}

.company-brands {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 25px;
}

/* Company Section CSS End */

/* Clients Section CSS Start */

.clients-wrapper {
  padding: 80px 0;
}

.slider img {
  padding: 0 25px;
}

.slider button {
  display: none !important;
}

.clients-content {
  padding-left: 30%;
}

.clients-content h2 {
  font-size: 35px;
  color: #ffffff;
}

.clients-content p {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding: 50px 0;
}

.clients-content a {
  font-size: 22px;
  color: #ffffff;
  padding: 12px 50px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.clients-content a:hover {
  color: #c49e55;
}

/* Clients Section CSS End */

/* Blog Section CSS Start */

.blog-wrapper {
  padding: 80px 0;
  background: #111111;
}

.blog-top h2 {
  font-size: 48px;
  color: #ffffff;
  padding-bottom: 50px;
}

.blog-card::after {
  position: absolute;
  content: "";
  background: rgba(0, 0, 0, 0.7);
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.blog-content {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  padding: 30px 20px;
  z-index: 1;
}

.publish-date p {
  font-size: 28px;
  color: #ffffff;
}

.blog-content h6 {
  font-size: 25px;
  font-weight: 400;
  line-height: 35px;
  color: #ffffff;
  padding-top: 30px;
}

.blog-content a {
  position: absolute;
  bottom: 30px;
  right: 20px;
}

/* Blog Section CSS End */

/* Main Part CSS End */

/* Footer Section css Start */

.footer-wrapper {
  padding: 80px 0;
  background: #111111;
}

.footer-info p {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding: 50px 0;
}

.copyright {
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
}

.about-btn {
  font-size: 22px;
  color: #ffffff;
  padding: 12px 50px;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.about-btn:hover {
  color: #c49e55;
}

.footer-links h5,
.visit h5 {
  font-size: 25px;
  font-weight: 300;
  color: #ffffff;
  padding-bottom: 30px;
}

.footer-menu li {
  padding-bottom: 20px;
}

.footer-menu a {
  font-size: 18px;
  font-weight: 300;
  color: #575757;
  transition: all 0.3s ease-in-out;
}

.footer-menu a:hover {
  color: #c49e55;
}

.footer-social {
  padding-top: 30px;
}

.footer-social a {
  padding-right: 27px;
}

.privacy {
  padding-top: 60px;
}

.privacy a {
  position: relative;
  font-size: 18px;
  font-weight: 300;
  color: #ffffff;
  padding-right: 40px;
  transition: all 0.3s ease-in-out;
}

.privacy a:hover {
  color: #c49e55;
}

.privacy a::after {
  position: absolute;
  content: "";
  width: 1px;
  height: 100%;
  left: 85px;
  background: #ffffff;
}

.privacy a:last-child::after {
  display: none;
}

.field-group {
  display: flex;
  width: 100%;
  margin-bottom: 20px;
  border: 1px solid #ffffff;
  border-radius: 5px;
}

.field-group img {
  padding-left: 20px;
  padding-right: 10px;
}

.field-group input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: #ffffff;
  padding: 12px 20px 12px 20px;
}

.field-group ::placeholder {
  color: #ffffff;
}

input:active::placeholder,
input:focus::placeholder {
  color: #000000;
}

.submit-btn input {
  width: 100%;
  font-size: 20px;
  font-weight: 600;
  padding: 10px 30px;
  background: #ffffff;
  color: #000000;
  border: 1px solid #ffffff;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.submit-btn input:hover {
  color: #c49e55;
}

/* Footer Section css End */

input:active,
input:focus {
  background: #ffffff;
  color: #000000;
  outline: #ffffff;
}

select:active,
select:focus {
  background: #ffffff;
  color: #000000;
  outline: #ffffff;
}

textarea:active,
textarea:focus {
  background: #ffffff;
  color: #000000;
  outline: #ffffff;
}
